doctype html 
html(lang='es') 
	head 
		meta(charset='utf-8') 
		title FB graph para Yamblet 
		link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

		script(rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js")
		script(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")

	body
		.container
			nav.navbar.navbar-inverse.navbar-embossed
				.container-fluid
					.navbar-header
						a.navbar-brand(href="#") Yamblet
					.collapse.navbar-collapse
						ul.nav.navbar-nav.navbar-right
							li
								a(href="/friends") Buscar mis amigos
							li
								a(href="/auth/close") Cerrar sesión


			section
				h1 Awesome profile
				p Te ha gustado Yamblet, publicalo en tu muro. :D 
				
				.row
					.col.xs-6(style="float:none;")
						form(action="/idea" method="POST")

							div(class="[ form-group ]")
								if activaCheck
									input(type="checkbox" placeholder="publicar cada 5 min" name="checkCadaMin" checked)
								else 
									input(type="checkbox" placeholder="publicar cada 5 min" name="checkCadaMin")
								label(for="fancy-checkbox-primary" class="btn btn-default active") Publicar cada 5 min.

							input(type="text" class="form-control" placeholder="¿Que te parecio el equipo Yamblet?" name="ideaCliente")
							input(type="submit" value="Compartir")